/*CSS Tags*/
body {
    background-color: #cdebf9;
}

main {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

h1 {
    display: flex;
    justify-content: center;
    text-decoration: underline;
}

div > p {
    font-size: large;
    font-style: italic;
}

button {
    margin: 1em 0px 1em 0px;

}

button:hover {
    cursor: pointer;
}

img {
    border: 1px solid black;
    background-color: lightblue;
    width: 150px;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 12px;
}

/*CSS IDs*/
#container {
    border: 4px solid black;
    border-radius: 1em;
    background-color: white;
    width: 1000px; 
}

#weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}